@font-face {
  font-family: Imported;
  src: url(./font/Cheorcy-axmaJ.otf);
}

@font-face {
  font-family: Hornsea;
  src: url(./font/HORNSEA.otf);
}


@font-face {
  font-family: Kdam;
  src: url(./font/Kdam.ttf);
}

@font-face {
  font-family: FLARE;
  src: url(./font/FLARE.otf);
}

@font-face {
  font-family: Kusanagi;
  src: url(./font/Kusanagi.otf);
}