.main-conteiner{
    width: 100%;
    height: 100%;
    background-color: black;
}

.butaob a{
    color: white;
}

.sub-conteiner{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    
}

.text-conteiner{
    border-radius: 12px;
    padding: 20px;
    width: 50%;
    background-color: rgb(36, 36, 36);
}

.text-conteiner h1{
    font-size: 22px;
}

.buton-conteiner{
display: flex;
    justify-content: center;
    align-items: center;
}

.butaob{
    
    width: 220px;
    border: #fff;
    border: 2px solid;
    margin: 40px;
    position: relative;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    font-weight: 400;
}

.butaob:hover{
    width: 240px;
    transition: 0.5s;
    letter-spacing: 0.25em;
    background-color: rgb(242, 242, 245);
    box-shadow: 0 0 15px;
}

.butaob::before{
    content: '';
    position: absolute;
    inset: 2px;
    background-color:rgb(31,31,31);
}

.butaob span{
    position: relative;
    z-index: 1;
}

.titulosobre {
    padding-top: 230px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height:120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
body {
    overflow-x: hidden;
  }


@media (min-width: 500px) and (max-width: 768px){
    .titulosobre {
           background-color: black;
           width: 100%;
           height:20px;
           display: flex;
           justify-content: center;
           align-items: center;
       }
       
      

       .text-conteiner{
        width: 90%;
    }

    .text-conteiner h1{
        font-size: 15px;
    }

   }


   @media (min-width: 769px) and (max-width: 1024px ){
    .titulosobre {
        background-color: black;
        width: 100%;
        height:80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .text-conteiner{
        width: 90%;
    }

    .text-conteiner h1{
        font-size: 17px;
    }
}

@media (min-width: 340px) and (max-width: 500px){
    .text-conteiner{
        width: 95%;
    }

    .text-conteiner h1{
        font-size: 12px;
    }
}

@media (min-width: 1024px) and (max-width: 1368px ){
    .text-conteiner{
        width: 90%;
    }

    .text-conteiner h1{
        font-size: 22px;
    }
}

@media (min-width: 150px) and (max-width: 339px ){
    .titulosobre {
        background-color: black;
        width: 100%;
        height:20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .text-conteiner{
     width: 90%;
 }

 .text-conteiner h1{
     font-size: 7px;
 }
}
